.theme-switcher {
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.switch-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.light-icon, .dark-icon {
  color: var(--sidebar-text);
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-bg);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--switch-active);
}

input:checked + .slider:before {
  transform: translateX(calc(100% + 4px));
}

.slider.round {
  border-radius: 34px;
  width: 48px;
}

.slider.round:before {
  border-radius: 50%;
}
